.newFont {
    font-family: 'Segoe UI';
    font-size: 12px;
    text-align: center;
}
.dataTableFont {
    font-family: 'Segoe UI';
    font-size: 14px;
}
lightning-button.advanceButton {
	--sds-c-button-brand-color-background: #660099;
    --sds-c-button-text-color: #ffffff;
}