.THIS #modal-heading-01{
    font-weight: bold;
    font-size: initial;
}
.THIS .slds-form-element__label{
    font-weight: bold;
    font-size: inherit;
}
.THIS .slds-form-element{
    width: 250px;
}

.THIS .overFlow {
    overflow: auto;
}