.THIS.sizeModal, .THIS .sizeModal {
    max-width: 830px;
    width: 830px;
}

.THIS.posButtonAdd, .THIS .posButtonAdd{
    padding-top: 20px;
}

.THIS.posButtonRemove, .THIS .posButtonRemove{
    padding-top: 20px;
}

.THIS.sizeContentModal, .THIS .sizeContentModal{
    height: 159px;
    overflow-y: scroll;
}

.THIS.sizeInputObject, .THIS .sizeInputObject{
    width:180px;
}

.THIS.sizeInputFields, .THIS .sizeInputFields{
    width:220px;
}

.THIS.sizeInputOperators, .THIS .sizeInputOperators{
    width:165px;
}

.THIS.sizeInputNumberRule, .THIS .sizeInputNumberRule{
    width:130px;
}

.THIS.sizeInputFilter, .THIS .sizeInputFilter{
    width:175px;
}

.THIS.sizeInputValueField, .THIS .sizeInputValueField{
    width:205px;
}

.THIS.paddingCheckbox,.THIS .paddingCheckbox{
    padding-top:27px;
}