.flowStepHistoryContainer {
	max-height: 300px;
    overflow-y: scroll;
}

.flowAnswer {
    text-align: right;
    font-weight: bold;
    color: black;
}

.parentAccordionTitle {
    --slds-c-accordion-heading-text-color:  rgb(92, 22, 157);
    --slds-c-accordion-heading-font-size: 16px;  
    font-weight: bold;
}

.childrenAccordionTitle {
    font-weight: normal;
    --slds-c-accordion-heading-text-color:  black;
    --slds-c-accordion-heading-font-size: 14px; 
}
/* .dispute-title {
    font-size: 16px;
    color: rgb(92, 22, 157);
    font-weight: bold;
} */