.THIS .slds-media__body.slds-truncate {
	text-align: center;
	color: #6e00f5;
}

.THIS .slds-card__header {
	padding: 0.1rem .75rem 0;
}
/* CSS Configuração do componente - INÍCIO*/
.THIS {
    background: white;
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    position: relative;
}

/* Configuração do título do componente*/
.THIS .span_chart1 {
    text-align: center;
    color: #6e00f5;
    font-size: initial;
}
/*Configuração da área que ocorre o redirecionamento*/
.THIS .redirecionamento_url {
    height: 90%;
    width: 100%;
    position: absolute;
    z-index: 10;
}
/* CSS Configuração do componente - FIM*/



/* CSS Configuração do container do gráfico - INÍCIO*/
.THIS .chart-container {
    position: relative;
    height: auto;
    min-height: 225px;
    width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto 
}
/* CSS Configuração do container do gráfico - FIM*/