.THIS .searchCard{
    border-radius: 5px;
background: #fff;
position: relative;
/* -webkit-transform: translate(0,-50%); */
-ms-transform: translate(0,-50%);
/* transform: translate(0,-50%); */
/* top: 50%; */
/* float: left; */
}

.THIS .radioDoc{
margin-bottom:20px;
}

.THIS .radioDoc .slds-radio{
display:inline-block;
}

.THIS .p20{
padding:10px;
}

.THIS .plr20{
padding:0 20px;
}

.THIS .mb20{
margin-bottom:20px;
}

.THIS .wd100{
width: 100%;
}

@media only screen and (min-width: 768px) {
.THIS .top22{
      top:22px;
  }
}