.centralizar {
    margin: 0 auto;
    height: 500px;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  h2, dt {
    font-weight: bold;
  }
  
  .subtitle-modal {
    font-weight: bold;
    font-size: 16px;
  }
  
  .checkbox-list {
    column-count: 2;
    display: flow-root;
  }