/* Navegação de páginas */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}

/* Botões de navegação */
.pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 1em;
    width: 100%;
}

.tab {
    padding: 0.5em 1em;
    margin-right: 0.5em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab:hover,
.tab-selected {
    background-color: #e6e0f8;
    transform: scale(1.05);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
}

.lightning-datatable {
    flex-grow: 1;
}

.scrollable-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* permite um scroll mais suave em dispositivos touch */
}

.scrollable-wrapper::-webkit-scrollbar {
    height: 12px; /* Altura da barra de scroll */
}

.scrollable-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da trilha */
}

.scrollable-wrapper::-webkit-scrollbar-thumb {
    background: #888; /* Cor de fundo do indicador de scroll */
}

.scrollable-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor de fundo do indicador de scroll ao passar o mouse */
}