/* Navegação de páginas */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}

/* Botões de navegação */
.pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightning-datatable {
    flex-grow: 1;
}