lightning-datatable .slds-th__action {
    white-space: nowrap; 
    overflow: visible;
    text-overflow: initial;
}

lightning-datatable .slds-cell-wrap {
    white-space: nowrap;
    overflow: visible;
    text-overflow: initial;
}

lightning-datatable .slds-th__action,
lightning-datatable .slds-cell-wrap {
    min-width: 150px;
}

lightning-datatable {
    overflow-x: auto;
}

.scrollable-wrapper{
    overflow-x: auto;
}


.scrollable-wrapper::-webkit-scrollbar {
    height: 12px;
}

.scrollable-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollable-wrapper::-webkit-scrollbar-thumb {
    background: #888;
}

.scrollable-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}