.item-list {
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
}

.link-button {
  --sds-c-button-brand-color-background: #9FB1BC;
  --sds-c-button-brand-color-border: #9FB1BC;
  --sds-c-button-brand-color-background-hover: #6E8898;
  --sds-c-button-brand-color-border-hover: #6E8898;
}