.THIS .slds-th__action {
    justify-content: center !important; 
}

.THIS .slds-grid_align-end { 
    justify-content: center !important; 
}

.THIS .empFamilyTable th {
   text-align: center !important;
 }

 .THIS .spins::after {
    position: absolute;
    content: 'Carregando ofertas';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}