.THIS {
}

.THIS .centralDiv {
    position: relative;
    border-width: var(--slds-c-card-sizing-border, var(--sds-c-card-sizing-border, var(--lwc-borderWidthThin,1px))) !important;
    border-style: solid !important;
    border-color: var(--slds-c-card-color-border, var(--sds-c-card-color-border, var(--lwc-cardColorBorder,#c9c9c9))) !important;
    border-radius: var(--slds-c-card-radius-border, var(--sds-c-card-radius-border, var(--lwc-borderRadiusMedium,0.25rem))) !important;
    background-clip: padding-box;
}

.THIS .slds-card {
    position: relative;
    background: var(--slds-c-card-color-background, var(--sds-c-card-color-background, var(--lwc-cardColorBackground,#ffffff)));
    border-width: var(--slds-c-card-sizing-border, var(--sds-c-card-sizing-border, var(--lwc-borderWidthThin,1px))) !important;
    border-style: solid !important;
    border-color: var(--slds-c-card-color-border, var(--sds-c-card-color-border, var(--lwc-cardColorBorder,#c9c9c9))) !important;
    border-radius: var(--slds-c-card-radius-border, var(--sds-c-card-radius-border, var(--lwc-borderRadiusMedium,0.25rem))) !important;
    background-clip: padding-box;
    color: var(--slds-c-card-text-color, var(--sds-c-card-text-color)) !important;
}

.THIS .slds-card__header {
    padding: 0.5rem !important;
    margin: 0rem !important;
    background-color: #f3f2f2;
}

.THIS .slds-radio { 
    margin-bottom: 0.5rem !important; 
}

.THIS .bold-text {
    font-weight: bold;
}

.THIS .slds-button{
    font-size: small;
}