.total-bar{
    margin-bottom: 3%;
}

.slds-scope .slds-checkbox .slds-checkbox__label,
.slds-scope .slds-radio .slds-radio__label {
display: inline !important;
}

.slds-checkbox__label{
    display: inline !important;
    }