.editButton {
    background-color: #fff;
}

.editButton:hover {
    background-color:  #660099;
}

.extratoIcon:hover{
   filter: invert(100%) brightness(105000%) contrast(106%);
}

.iconButtonExtrato{
    max-width: 35px;
    border-style: solid;
    border-width: 1px;
}

.iconButtonExtrato:hover{
    background-color: #660099;
  
}