.THIS .onhoverCSS{
    color:black
}
.THIS .onhoverCSS:hover{
    color: black;
    text-decoration-line: underline;
}
.THIS .onhoverCSS:active{
    color: #000;
}
.THIS .reload-button{
    --sds-c-button-brand-color-background: #660099;
    --sds-c-button-text-color: #ffffff;
}