.input-text-area {
    width: 100%;
    font-weight: bold;
    --slds-c-textarea-sizing-min-height: 12rem !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

h1 {
    font-weight: bold;
}

template {
    min-height: max-content;
}