.boxTheme {
    border-style: solid;
    border-color: transparent;
    
}

.textTitle {
    font-size: 18px;
}

.textValue {
    font-size: 10px;
}

.textTimer {
    color: #5C169D;
}

.buttonAlign{
    text-align: right;
}

.borderLenght{
    position: absolute;
    left: 8px;
    height: 3px;
    width: 97%;
}

.custom-css {
    --slds-g-color-brand-base-60: green;
}

.initialClassStep1{
    text-align: right;
    margin-left: -1.5rem;
    width: auto;
    margin-top: 0rem;
}

.initialClassStep2{
    text-align: center;
    width: 100px;
    overflow-wrap: break-word;
}

.initialClassStep3{
    overflow-wrap: break-word;
    inline-size: 100px;
    text-align: center;
    margin-right: -3rem;
    margin-top: -1rem;
}

.aguardandoValidacaoStep1{
    text-align: right;
    margin-left: -1.5rem;
    width: auto;
    margin-top: -1rem;
}

.aguardandoValidacaoStep2{
    text-align: center;
    width: 100px;
    overflow-wrap: break-word;
}

.aguardandoValidacaoStep3{
    overflow-wrap: break-word;
    inline-size: 100px;
    text-align: center;
    margin-right: -3rem;
    margin-top: -1rem;
}

.tokenValidadoStep1{
    text-align: right;
    margin-left: -1.5rem;
    width: auto;
    margin-top: 0.1rem;
}

.tokenValidadoStep2{
    text-align: center;
    width: 100px;
    overflow-wrap: break-word;
}

.tokenValidadoStep3{
    overflow-wrap: break-word;
    inline-size: 100px;
    text-align: center;
    margin-right: -3rem;
    margin-top: 0.1rem;
}

.tokenLimitExceedStep1{
    text-align: right;
    margin-left: -1.5rem;
    width: auto;
    margin-top: -1.5rem;
}

.tokenLimitExceedStep2{
    text-align: center;
    width: 100px;
    overflow-wrap: break-word;
    margin-top: -1.0rem;
}

.tokenLimitExceedStep3{
    overflow-wrap: break-word;
    inline-size: 100px;
    text-align: center;
    margin-right: -2.5rem;
    margin-top: 0rem;
}

.tokenNoValidatedStep1{
    text-align: right;
    margin-left: -2.0rem;
    width: auto;
    margin-top: -1.5rem;
}

.tokenNoValidatedStep2{
    text-align: center;
    width: 100px;
    overflow-wrap: break-word;
    margin-left: 0rem;
}

.tokenNoValidatedStep3{
    overflow-wrap: break-word;
    inline-size: 100px;
    text-align: center;
    margin-right: -3rem;
    margin-top: -1rem;
}

.tokenCanceledStep1{
    text-align: right;
    margin-left: -2.5rem;
    width: auto;
    margin-top: 0rem;
}

.tokenCanceledStep2{
    text-align: center;
    width: 100px;
    overflow-wrap: break-word;
    margin-left: -1rem;
}

.tokenCanceledStep3{
    overflow-wrap: break-word;
    inline-size: 100px;
    text-align: center;
    margin-right: -3rem;
    margin-top: 0rem;
}

.tokenFailedSendStep1{
    text-align: right;
    margin-left: -1.5rem;
    width: auto;
    margin-top: 0.1rem;
}

.spinnerDiv {
    margin-top: 30px; 
    background: #FFFFFF;
}
