.boxTheme {
    border-style: solid;
    border-color: transparent;
    
}

.textTitle {
    font-size: 18px;
}

.textValue {
    font-size: 12px;
}

.textTimer {
    color: #660099;
}

.buttonAlign{
    text-align: right;
}

.borderLenght{
    position: absolute;
    left: 8px;
    height: 3px;
    width: 97%;
}