.alt-table-rows .tableRow:nth-child(even) {
        background: #ffffff;
}
.alt-table-rows .tableRow:nth-child(odd) {
        background: #ebebeb;
}

.alt-table-rows .alt-bg-group-wrapper.tableRow {
    background-color: #000000;
    color: #ffffff;
}