.THIS .css-slider-wrapper {
    display: block;
    overflow : hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.THIS .slider {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    z-index: 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.THIS .slider>div {
    text-align: center;
    display : flex;
    width: auto;
}

.THIS .css-slider-wrapper input[type="radio"] {
    display: none;
}

.THIS .maxLenght {
    width: 100%;
    height: 100%;
}

.THIS .buttonAceitou {
    background-color: #792BA4;
    color: rgb(250,250,250);
    border-color: #792BA4;
}

.THIS .buttonAceitou:disabled {
    background-color:#c9c7c5;
    cursor: not-allowed;
    border-color: #c9c7c5;
}

.THIS .buttonAceitou:disabled:hover {
    background-color:#c9c7c5;
    cursor: not-allowed;
}

.THIS .buttonAceitou:hover {
    background-color:#522474;
}

.THIS .buttonNaoAceitou {
    border-color: #DDDBDA;
    color: #792BA4;
}

.THIS .buttonNaoAceitou:disabled {
    background-color:#c9c7c5;
    cursor: not-allowed;
    color: #fff;
}

.THIS .buttonNaoAceitou:disabled:hover {
    background-color:#c9c7c5;
    cursor: not-allowed;
    color: #fff;
}

.THIS .buttonNaoAceitou:hover {
    background-color:#F3F2F2;
}

.THIS  .slds-card__header {
    background-color: rgb(243,242,242);
    padding-bottom: 10px;
    padding-top: 10px;
}
.THIS .flowCmp .slds-text-heading_small{
    font-size: 14pt !important;
}

.THIS .flowCmp .slds-card__header {
    background-color: rgb(243,242,242);
    padding-bottom: 18px;
    padding-top: 11px;
}

.THIS .flowCmp {
    border: solid 1px rgb(214,212,211);
    background-color: #fff;
    height: 300px;
    border-radius: 4px;
    width: 49%;
    overflow: auto;
}

.THIS .middleCmp {
    background-color: rgb(243,242,242);
    height: 11px;
}

.THIS .buttonBottom {
    bottom: 64px;
    right: 3%;
    position: absolute; 
}


.THIS .detailBottom {
    bottom: 74px;
    position: absolute; 
}

.THIS .priceBottom {
    bottom: 110px;
    position: absolute; 
}

.THIS .bodyContentWhenSuccess {
    font-size: small;
    color: rgb(0,0,0);
    padding-top: 3%;
    max-height: 100%;
    word-break: break-all;
    max-width: 100%;
}

.THIS .bodyContentWhenError {
    font-size: small;
    color: rgb(0,0,0);
    padding-top: 3%;
}

.THIS .titleContent {
    word-break: break-all;
    max-height: 50px;
}

.THIS .mainCardScript {
    padding-top: 20%;
}

.THIS .iconColor svg {
    fill: #792BA4;
}

.THIS .showInline {
    display: inline-table;
}

.THIS .goToBookIntegrado {
    position: absolute;
    right: 16px;
    text-decoration: underline;
}

.THIS .slider-pagination {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 1;
}

.THIS .slider-pagination label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #fff;
    margin: 0 2px;
    border: solid 1px #792BA4;
    cursor: pointer;
}

.THIS .fontOffer {
    padding: 2%;
    font-size: large;
    font-weight: bold;
    color: #792BA4;
}

.THIS .titleWhenError {
    color: #792BA4;
}

.THIS .moreDetails {
    position: absolute;
    right: 20px;
    top: 75px;
    font-size: small;
}

.THIS .throwToBack {
    z-index: 1;
}

.THIS .dropDown {
    position: absolute;
    left: 0px;
}

/* display respective checkboxes selected on slide change */

.THIS .slide-radio1:checked~.slider-pagination .page1,
.THIS .slide-radio2:checked~.slider-pagination .page2,
.THIS .slide-radio3:checked~.slider-pagination .page3,
.THIS .slide-radio4:checked~.slider-pagination .page4,
.THIS .slide-radio5:checked~.slider-pagination .page5,
.THIS .slide-radio6:checked~.slider-pagination .page6,
.THIS .slide-radio7:checked~.slider-pagination .page7,
.THIS .slide-radio8:checked~.slider-pagination .page8,
.THIS .slide-radio9:checked~.slider-pagination .page9,
.THIS .slide-radio10:checked~.slider-pagination .page10 {
    background: #792BA4
}

/* Only 10 slides supported */

.THIS .slide-radio1:checked~.slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.THIS .slide-radio2:checked~.slider {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.THIS .slide-radio3:checked~.slider {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.THIS .slide-radio4:checked~.slider {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

.THIS .slide-radio5:checked~.slider {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
}

.THIS .slide-radio6:checked~.slider {
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
}

.THIS .slide-radio7:checked~.slider {
    -webkit-transform: translateX(-600%);
    transform: translateX(-600%);
}

.THIS .slide-radio8:checked~.slider {
    -webkit-transform: translateX(-700%);
    transform: translateX(-700%);
}

.THIS .slide-radio9:checked~.slider {
    -webkit-transform: translateX(-800%);
    transform: translateX(-800%);
}

.THIS .slide-radio10:checked~.slider {
    -webkit-transform: translateX(-900%);
    transform: translateX(-900%);
}

@media (max-width: 600px) {
    .THIS .slider h2 {
        font-size: 1.5em;
    }
    .THIS .slider>div {
        padding: 0 2%
    }
    .THIS .slider .bodyContent {
        font-size: 0.8rem;
    }
    .THIS .flowCmp {
        width: 99%;
    }
    .THIS .buttonBottom {
        bottom: 35px;
        position: absolute;
        display: flex;
        justify-content: center;    
        margin-left: 25%;
    }
}