.mensagemUsario {
    background-color: #F7F7F7;
    border: 2px solid #438BC7;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    margin-right: 15px;
  }
  .mensagemIA {
    background-color: #aadaf8;
    border: 2px solid #438BC7;
    padding: 10px;
    border-radius: 20px;
    text-align: right;
    margin-left: 15px
  }
  .background_img {
    background-image: url('/resource/ChatIABackground');
  }

  iframe {
    border: 0;
    width: 100%;
}

.fullScreen{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000; 
}

.upvoteLike {
    margin-left: -20px;
}
.upvoteDislike {
    margin-left: 10px;
}

.avatar {
  float: left;
  max-width: 30px;
  width: 100%;
  margin-right: 10px;
  border-radius: 10%;
  margin-left: -10px;
}

.imessage {
  background-color: #EEEEEE;
  border: 1px solid #e5e5ea;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  margin: 0 auto 1rem;
  padding: 0.5rem 1.5rem;
}

.imessage p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

p.from-me {
  align-self: flex-end;
  background-color: var(--colorUser, #ffffff);
  color: #000000; 
}
.spinner-container {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; 
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #5C169D;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
.custom-container {
  position: relative;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*p.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #ffffff;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-me::after {
  background-color: #f6f6f6;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform:translate(-30px, -2px);
  width: 10px;
}*/

p.from-them {
  align-items: flex-start;
  background-color: var(--colorIA, #5C169D
  );
  color: #ffffff;
  margin-left: -40px;
}

/*p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #660099;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: #f6f6f6;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}*/
/* Animação dos três pontos */


.loading-dots {
  display: flex;
  align-items: center;
  margin-left: -40px;
  justify-content: center;
  border-radius: 1.15rem;
 }
 .loading-dot {
  width: 7px;
  height: 7px;
  background-color: #888;
  border-radius: 50%;
  margin: 0 3px;
  animation: dot-jump 1s infinite;
 }
 .loading-dot:nth-child(2) {
  animation-delay: 0.2s;
 }
 .loading-dot:nth-child(3) {
  animation-delay: 0.4s;
 }
 @keyframes dot-jump {
  0%,
  100% {
   transform: translateY(0);
  }
  50% {
   transform: translateY(-8px);
   background-color: #5C169D;
  }
 }

@font-face {
  font-family: "Roboto";
  src: url('/resource/RobotoFont/Roboto/Roboto-Regular.ttf') format('TrueType');
}

* {
  font-family: "Roboto";
}