.THIS {
}

.THIS .right-align {
    text-align: right;
}

.THIS .center-align {
    text-align: center;
}

.THIS .auto-call {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
    padding-left: 1rem;
  }
