.option-item {
    filter:grayscale(95%) !important;
    box-shadow: 0 4px 10px -2px #989898;
}

.option-item:hover{
    filter:grayscale(0%) !important;
    font-weight: 550;
    color: rgb(27, 27, 27) !important;
}