/* Estilo da div que contém a tabela */
.custom-datatable {
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    background-color: #f9f9f9; /* Fundo claro */
}


/* Estilo para ajustar a largura mínima das colunas */
.custom-datatable .slds-table_col {
    min-width: 50px; /* Aumentando a largura mínima das colunas */
    max-width: 300px; /* Limite de largura máxima para evitar colunas muito largas */
}


/* Estilo para a barra superior do datatable */
.custom-datatable .slds-table_header-fixed_container {
    background-color: #fff; /* Cor de fundo para o cabeçalho */
    border-bottom: 2px solid #d8dde6; /* Borda inferior para separar o cabeçalho */
}


/* Estilo para as células de dados */
.custom-datatable .slds-cell-edit {
    background-color: #ffffff;
    color: #333;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #d8dde6;  /*Borda entre as células */
}


/* Estilo para hover nas células */
.custom-datatable .slds-cell-edit:hover {
    background-color: #f1f1f1;  
}
/*Cor de fundo ao passar o mouse */

/* Estilo para as bordas e espaçamento das células */
.custom-datatable .slds-table tbody tr {
    border-bottom: 1px solid #e0e0e0;
}



.custom-datatable .slds-table td {
    padding: 10px 15px;
}


/*Estilo para colunas e cabeçalhos*/
.custom-datatable .slds-th__action {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #005fb3; /* Cor personalizada para o cabeçalho*/
    padding: 12px;
}

.context .alert {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.text {
    margin-left: 10px;
    font-size: 10pt;
}