/* CSS Configuração do Componente - INÍCIO*/

.THIS {
	font-size: 10px;
	padding: 0 0 3px;
}
.THIS .slds-theme_backgroundColor-lightblue {
    background-color: lightblue;
}
.THIS .slds-theme_backgroundColor-brandblue {
    background-color: #7054FF;
}
.THIS .slds-theme_backgroundColor-purple {
    background-color: purple;
}
.THIS .slds-theme_backgroundColor-lightpurple {
    background-color: #C060FD;
}
.THIS .slds-theme_backgroundColor-lightgreen {
    background-color: #b5e7a0;
}
.THIS.slds-box {
    border: 5px solid grey;
}



.THIS .slds-col {
	width: 100%;
}

.THIS .slds-grid_vertical {
	width: 100%;
}

.THIS .slds-card__body {
	margin: 0.4px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}


/* CSS Configuração do Componente - FIM*/

.THIS .campanha {
    word-wrap: break-word;
}

.THIS .sistemaOrigem {
    word-wrap: break-word;
}

/* CSS Configuração do título do componente - INÍCIO*/

.THIS .slds-media__body.slds-truncate {
	text-align: center;
	color: #6e00f5;
}

.THIS .slds-card__header {
	padding: 0.1rem .75rem 0;
}


/* CSS Configuração do título do componente - FIM*/


/* CSS Configuração dos cards - INÍCIO*/

.THIS .font-title {
	font-size: 13px;
}

.THIS .font-subtitle {
	font-size: 11px;
}

.THIS .divOffer {
	margin: 0;
	margin-top: 0;
	height: 100%;
}


/* CSS Configuração dos cards - FIM*/


/* CSS CONFIGURAÇÃO DO CARD COMBO FIXA - INÍCIO*/


/*Configuração do título default*/

.THIS .title {
	font-size: 13px;
	font-weight: 400;
	color: #FFFFFF;
	padding: 0.25rem 0 0.25rem 0;
	text-align: center;
	border-top-left-radius: .5rem;
    height: 46px;
}


/*Configuração do título quando estiver ativo*/

.THIS .title.active {
	background: var(--MENUOFERTAS_CorOfertaFixo);
}


/*Configuração do título quando estiver inativo*/

.THIS .title.inactive {
	background: var(--MENUOFERTAS_CorOfertaFixo);
	opacity: .4;
}


/*Configuração do corpo do card quando estiver ativo*/

.THIS .bodyofferfixed.active {
	background: var(--MENUOFERTAS_CorOfertaFixoBackgroud);
	border-bottom-left-radius: .5rem;
	height: calc(100% - 46px);
}


/*Configuração do detalhamento da oferta Combo Fixa*/

.THIS .detalhamento {
	text-align: left;
	font-size: 10px;
	margin-left: 10px;
    font-weight: 500;
    word-wrap: break-word;
                                        
}

.THIS .cardOfferFixed {
	background-color: #0066cc;
	font-size: 20px;
                                        
}

.THIS .cardOfferMobile {
	background-color: #660099;
	font-size: 20px; 
                                        
}                                    
.THIS .cardOfferProposal {
	background-color: #99cc33;
	font-size: 20px; 
                                        
}  

/* CSS CONFIGURAÇÃO DO CARD COMBO FIXA - FIM*/


/*CSS CONFIGURAÇÃO DO CARD PLANO FAMÍLIA - INÍCIO*/

.THIS .oferta1plano {
	flex: auto;
	position: relative;
}


/*Configuração do título default*/

.THIS .titleFamily {
	font-size: 13px;
	font-weight: 400;
	color: #FFFFFF;
	padding: 0.25rem 0 0.25rem 0;
	text-align: center;
	margin-top: 0;
	background: var(--MENUOFERTAS_CorOfertaMovel);
    height: 46px;
}


/*Configuração do título quando estiver ativo*/

.THIS .titleFamily.active {
	background: var(--MENUOFERTAS_CorOfertaMovel);
}


/*Configuração do título quando estiver inativo*/

.THIS .titleFamily.inactive {
	background: var(--MENUOFERTAS_CorOfertaMovel);
	opacity: .4;
}


/*Configuração do corpo do card quando estiver ativo*/

.THIS .bodyofferfamily.active {
	background: var(--MENUOFERTAS_CorOfertaMovelBackgroud);
	height: calc(100% - 46px);
	position: relative;
}

.THIS .column_oferta_familia {
	justify-content: center;
	display: flex;
}


/*CSS CONFIGURAÇÃO DO CARD PLANO FAMÍLIA - FIM*/


/* CSS CONFIGURAÇÃO DO CARD TOTAL - INÍCIO*/


/*Configuração do título default*/

.THIS .titleTotal {
	font-size: 13px;
	font-weight: 400;
	color: #FFFFFF;
	padding: 0.25rem 0 0.25rem 0;
	text-align: center;
	margin-top: 0;
	border-top-right-radius: .5rem;
    height: 46px;
}


/*Configuração do título quando estiver ativo*/

.THIS .titleTotal.active {
	background: var(--MENUOFERTAS_CorTotal);
	border-top-right-radius: .5rem;
}


/*Configuração do título quando estiver inativo*/

.THIS .titleTotal.inactive {
	background: var(--MENUOFERTAS_CorTotal);
	opacity: .4;
}


/*Configuração do corpo do card quando estiver ativo*/

.THIS .bodyoffertotal.active {
	background: var(--MENUOFERTAS_CorTotalBackgroud);
	height: calc(100% - 46px);
	position: relative;
	border-bottom-right-radius: .5rem;
}


/*Configuração do desconto ou acréscimo*/

.THIS .align-center {
	text-align: center;
	margin: 8px;
	font-weight: bold;
}

.THIS .text-discount {
	color: #496c01;
}

.THIS .text-increase {
	color: #FC2925;
}


/*Configuração do valor do card*/

.THIS .valor_element {
	font-weight: 700;
	font-size: 13px;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}


/* CSS CONFIGURAÇÃO DO CARD TOTAL - FIM*/


/* CSS Configuração do valor das ofertas - INÍCIO*/

.THIS .valor_ofertas {
	font-weight: 700;
	font-size: 13px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Configuração do botão de Iniciar Script */

.THIS .script_button{
	background-color: #0066cc;
	border-color: #0066cc;
}

/* CSS Configuração do valor das ofertas - FIM*/