.vlc-separator {display:none !important;}
.slds-page-header__title {display:none !important;}
.omniscript-step__body {
    margin:-10px;
	padding:-20px;
}
.omniscript-article .slds-card .slds-grid .slds-wrap .slds-grid_vertical-stretch .slds-omniscript_mobile-fixed-footer {
    margin:0px !important;
	padding:0px !important;
}
div.omniscript-body.slds-card__bodyslds-card__body_inner.slds-m-top_medium.slds-p-right_medium.slds-col.slds-grid.slds-grid_vertical.slds-size_1-of-1 {
    margin: 0 !important;
	padding: 0 !important;
}

div.vlc-separator.slds-border_top.slds-m-top_x-small.slds-m-bottom_xx-small.slds-m-horizontal_medium {
    display: none !important;
}


