.slds-scope .slds-radio .slds-radio__label,
.slds-scope .slds-checkbox .slds-checkbox__label{
display: inline !important;
}

.slds-radio__label{
display: inline !important;
}

.slds-radio .slds-radio__label{
  display: inline  !important;
  }
