.vlc-separator {display:none !important;}
.slds-page-header__title {display:none !important;}

div.vlc-separator.slds-border_top.slds-m-top_x-small.slds-m-bottom_xx-small.slds-m-horizontal_medium {
    display: none !important;
}


