.Concession {
    --slds-c-icon-color-background: #3BA755;
}

.Approved {
    --slds-c-icon-color-background: #3BA755;
}

.NotStarted {
    --slds-c-icon-color-background: #CAC4D0;
}

.InAnalisys {
    --slds-c-icon-color-background: #FD9826;
}

.Denied {
    --slds-c-icon-color-background: #CC3D70;
}

.Closed {
    --slds-c-icon-color-background: #CC3D70;
}

.disputedItem {
    padding-top: 5px;
    font-weight: bold;
    font-size: 12px;
}