.option-item {
    transition-duration: 0.4s!important;

}

.option-item:hover{
    background-color: #660099 !important;
    color: white;
}

.option-item2{
    
    box-shadow: 0 4px 10px -2px #808080;
}

.option-item3:hover {
    
    filter:grayscale(35%)   !important;
    color: white !important;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.filter{
    filter: invert(12%) sepia(13%) saturate(85%) hue-rotate(77deg) brightness(110%) contrast(85%);

}