.addButton:hover{
    background-color: rgb(134, 43, 161) !important;
    color: white;
}
.slds-icon-new_hover{
    fill: white !important;    
}
.svg:hover{
    fill: white !important;
}
.scrolltreeview{
    overflow-y:scroll;
    overflow-x:hidden;
}