.THIS .footerCss{
    top: 90% !important;
    background-color: white !important;
    opacity: 1 !important;
    width: 100% !important;
}

.THIS .slds-c-backdrop-color-background{
    background-color: white !important;
}

.THIS .slds-modal__close{
    margin-left: 95% !important;
    margin-top: -2% !important;
    border: transparent !important;
    z-index: 99999;
}

.THIS .slds-gutters{
    width: 98%; 
    margin-left: 1%;
}

.THIS .slds-docked-form-footer{
    z-index: 99999;
}