.THIS.vlc-separator {display:none !important;}
.THIS.slds-page-header__title {display:none !important;}
.THIS.body_container {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}

.THIS.slds-grid {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}