.enabled-btn{
    background-color: white;;
  
}

.disabled-btn{
    background-color: white;
    
}

.enabled-btn:hover{
    background-color:  white;
}

.enabled2-btn{
    background-color: #660099;;
  
}

.disabled2-btn{
    background-color: white;
    
}

.enabled2-btn:hover{
    background-color:  #1589ee;
}