/* Navegação de páginas */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}

/* Botões de navegação */
.pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 1em;
    width: 100%;
}

.tab {
    padding: 0.5em 1em;
    margin-right: 0.5em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab:hover {
    background-color: #e6e0f8;
    transform: scale(1.05);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
}

.tab-selected {
    background-color: #e1dfdf;
}

.lightning-datatable {
    flex-grow: 1;
}